refresh-on-startup yes
auto-reload yes
reload-time 15
cleanup-on-quit yes

always-display-description true
articlelist-format "%f%-6D -- %t"
download-full-page yes
text-width 78

show-read-feeds no
show-read-articles no
mark-as-read-on-hover yes
max-items 50
max-downloads 2

download-path ~/Downloads
save-path ~/Documents/Feeds

browser x-www-browser

color background   default   default
color listnormal   default   default
color listfocus    default   color234
color info         default   blue   
color article      default   default

# vim:ft=config
